<div class="container">
  <br>
  <br>
  <h1>Movie</h1>
  <br>

  <h3>Room {{ movie.room}} | {{ movie.title }}</h3>
  <div class="row movielist">
    <div class="col-xs-6">
      <img class="img-responsive" src="{{ movie.poster}}">
    </div>
    <div class="col-xs-6">
      <div class="row">

      </div>
      <div class="row movielist">
        <div class="col-xs-6">
          <strong>Genres</strong>
        </div>
        <div class="col-xs-6">
          <ul *ngFor="let item of movie?.genres">
            <li>{{ item }}</li>
          </ul>
        </div>
      </div>
      <div class="row movielist">
        <div class="col-xs-6">
          <strong>Year</strong>
        </div>
        <div class="col-xs-6">{{ movie.year }}</div>
      </div>
      <div class="row movielist">
        <div class="col-xs-6">
          <strong>Director</strong>
        </div>
        <div class="col-xs-6">{{ movie.director }}</div>
      </div>
      <div class="row movielist">
        <div class="col-xs-6">
          <strong>Actors</strong>
        </div>
        <div class="col-xs-6">
          <ul *ngFor="let item of movie?.actors">
            <li>{{ item }}</li>
          </ul>
        </div>
      </div>
      <div class="row movielist">
        <div class="col-xs-6">
          <strong>Schedule</strong>
        </div>
        <div class="col-xs-6">
          <ul *ngFor="let item of movie?.hours">
            <li>{{ item }}</li>
          </ul>
        </div>
      </div>
      <div class="row movielist">
        <div class="col-xs-12">
          <strong>Synopsis</strong>
          <br>
          <br>{{ movie.synopsis }}</div>
      </div>
      <div class="row movielist">
        <div class="col-xs-12">
          <a class="btn btn-primary" [routerLink]="['/']">Home</a>
        </div>
      </div>
    </div>
  </div>


</div>
